



body {
  margin: 30px;
  font-family: sans-serif;
}

.description {
  max-width: 800px;
}


.chart-footer {
  font-style: italic;
  font-size: 10pt;
  color: #aaa;
}

div {
	justify-content: center;
	text-align: center;
	display: block;
	place-items: center;
}


table {
	width: 100%;
	height: 100%;
	/*border: 3px red double;*/
	justify-content: center;
	/*width: 100%;height: 100%;*/
}
td {
	justify-content: center;
	text-align: center;
	place-items: center;
	}

h2 {
	text-align: center;	
	justify-content: center;
	
	}


/* Style the lines by removing the fill and applying a stroke */
.line {
    fill: none;
    stroke: #ff9999;
    stroke-width: 3;
}


div.senate_house_rc_detail {
	overflow-y:auto; 
	vertical-align: bottom; 
	height:12em; 
	max-height:12em; 
	width:750px; 
	max-width:750px; 
	min-width:750px;
	}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 1;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  top: 0;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #4CAF50;
  color: white;
}
/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

.top {

}