<!DOCTYPE html>
<html lang="en">
  <head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8" />
    <title>Congress Voting Visualization</title>
    <link rel="stylesheet"type="text/css"  href="{{ url_for('static', filename='css/main_test.css') }}">
  </head>
  <body>
	<div align="center">
		<img width="75%" height="auto" src="{{ url_for('static', filename='images/capitol_rainbow_pseats.png')  }}">
		<hr>
		<div>
			<table>
				<thead>
				</thead>
				<tbody>
					<tr>
						<td><div>116<br>Congresses</div></td>
						<td>12,423<br>Roll Calls</td>
						<td>183,586<br>Votes</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

<h2>Broad Story</h2>
<p>In his famous 1858 Republican convention speech, President Lincoln warned that "A house divided against itself cannot
stand." His biblically inspired expression echoed George Washington's warning about "the baneful effects of the spirit of
party." President Washington called for its restraint, lamenting of the party, that:
<p>It serves always to distract the public councils and enfeeble the public administration. It agitates the community with
ill-founded jealousies and false alarms, kindles the animosity of one part against another, foments occasionally riot and
insurrection. It opens the door to foreign influence and corruption, which find a facilitated access to the government itself
through the channels of party.
<p>Our intent with this website is to let you explore the administration of the US Government while providing you tools view
that administration within the context of the political party. To that end, you can begin your exploration in Congress and
navigate through the Senate or the House of Representatives, examining bill proposals and passages over time and
drilling in on specific votes and the degree to which they reflect the political factionalism warned about in these speeches.
<hr>	
<table>
	<thead>
		<tr>
			<td colspan=3>
				<h2>Senate Dashboard</h2>
			</td>
		<td>
	</thead>
	<tbody>
		<tr>
			<td>Votes per congress</td>	
			<td>INSERT INSTRUCTIONS HERE</td>
			<td>Roll Cals over the Years</td>
		</tr>
		<tr>
			<td>
				Seating Chart
			</td>
			<td>
				GUI CONTROLS
			</td>
			<td>
				scatter plot
			</td>
		</tr>
	</tbody>
</table>


    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="{{ url_for('static', filename='js/main_test.js')  }}" >
    <script src="{{ url_for('static', filename='js/utils_test.js') }}">
  </body>
</html>
