<!DOCTYPE html>
<html lang="en">
  <head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8" />
    <title>Congress Voting Visualization</title>
    <link rel="stylesheet"type="text/css"  href="{{ url_for('static', filename='css/main_test.css') }}">
  </head>
  <body>



    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="{{ url_for('static', filename='js/main_test.js')  }}" >
    <script src="{{ url_for('static', filename='js/utils_test.js') }}">
  </body>
</html>
